<form action="/" , method="POST">
    <textarea rows="3" , cols="20" , type="text" , name="leftBox1">{{leftBox1}}</textarea>
    <textarea rows="3" , cols="20" , type="text" , name="rightBox1">{{rightBox1}}</textarea>
    <button type="submit">Convert</button>

    <form action="#">
        <h3>Chọn đơn vị cần chuyển:</h3>
        <input name="donvi1" , type="radio" , value="mm">mm
        <input name="donvi1" , type="radio" , value="cm">cm
        <input name="donvi1" , type="radio" , value="dm">dm
        <input name="donvi1" , type="radio" , value="m">m
    </form>

    <form action="#">
        <h3>Chọn đơn vị được chuyển:</h3>
        <input name="donvi2" , type="radio" , value="mm">mm
        <input name="donvi2" , type="radio" , value="cm">cm
        <input name="donvi2" , type="radio" , value="dm">dm
        <input name="donvi2" , type="radio" , value="m">m
    </form>


</form>