<form action="/answer" , method="POST">
    <h3 align="center" , style="margin: 50px">{{questionContent}}</h3>
    <div class="d-flex justify-content-around">
        <a class="btn btn-danger" href="/"> Tiếp tục </a>
    </div>
</form>