<form action="/ask" , method="POST">
    <h3>Nhập câu hỏi của bạn</h3>
    <textarea rows="3" , cols="50" , type="text" , name="questionContent"></textarea>
    <button type="submit">Gui</button>
</form>