<h3 align="center" , style="margin: 50px; font-weight: bold; font-size: 50px ">{{questionContent}}</h3>



<div class="row" style="margin: 50px; position: relative">
    <div class="col-6">
        <form action="/yes" , method="POST">
            <button type="submit" style="position: absolute; margin: 0; left: 50%"
                class="btn btn-primary button-homepage">Đồng ý</button>
        </form>
    </div>
    <div class="col-6">
        <form action="/no" , method="POST">
            <button type="submit" style="position: absolute; margin: 0; right: 50%"
                class="btn btn-danger button-homepage">Không đồng ý</button>
        </form>
    </div>
</div>


{{!-- <form action="/homePage" , method="POST">
    <div class="d-flex justify-content-around">
        <button class="btn btn-danger" name="yesAS" type="submit" value="CÓ" onclick="answer()"> CÓ </button>
        <button class="btn btn-warning" name="yesAS" type="button" value="KHÔNG" onclick="answer()"> KHÔNG
        </button>
    </div>
</form> --}}

<script>
    function answer() {
        location.assign("/answer");
    }
</script>